# =========================
# ENV
# =========================
.env

# =========================
# NODE (global y frontend)
# =========================
node_modules/
frontend/node_modules/

# Build outputs
dist/
frontend/dist/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# OS / EDITOR
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# LOGS
# =========================
*.log

# =========================
# OPTIONAL (recomendado)
# =========================
.github/

.src/__pycache__/

data/*

docs/*